body{
    background-color: dodgerblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

h3{
    padding: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
}